html{
height:100%;
}



 * {
    box-sizing: border-box;
 }
 /*     BODY   */
body{
	font-family: "Avenir Next","serif","Lora";
	padding:0px;
	margin:0px;
	background: url(/ales-nesetril-ex_p4AaBxbs-unsplash.jpg) no-repeat;
	background-size:cover;
	background-color:white;
	height:px;
}
.main_body{
height:790px;

}
.main__body{
height:660px;}
}




.header{
	background-size:cover;
	height:100px;
	width:100%;
	margin:0px;

	}

/*            HEADER LOGO     */
 .header-logo{
      float:left;
      color:white;
      color:white;
      height:inherit;
      font-size:25px;
      /*chang padding from left 10px*/
      padding-left:10px;
      padding-top:20px;
      font-family: "Avenir Next","serif" ,"lora";
 }


/*    MENU BUTTON/MENU ICON        */

.menu-btn{
    display:none;
    padding-top:20px;
    padding-left:40px;
}

/*******************header-list******************************/

ul{
position:absolute;

}
.header-list ul{
float:right;
list-style:none;
margin-right:75px;
position :relative;
margin-left:-40px;
display:block;
color:white;

}
.header-list ul li{
float: left;
position:relative;
display:block;
margin-top:5 px;
margin-left:5px;
margin-right:0px;
margin-bottom:0px;
padding:px;
padding-bottom:0px;



}
.header-list ul li a{
      color: black;
      text-decoration:none;
      line-height:40px;
      font-size:12px;
      color:white;
      padding:9px 15px;
      width:px;
      display:block;
      border-radius:10px;


}

.header-list ul li a:hover{
background:transparent;

transition:0.5s;
box-shadow: 0 0 4px #66ffff;
border-radius:5px;

}

h1{
     text-align:center;
     padding:50px;
     margin:80px;
     color:white;
     font-size:30px;
    

}


 /*             FOOOTER          */
.footer{
     height:40px;
     background-color:darkgrey;
     font-size:.8em;
     text-align:center;
     margin:1px;
     padding:2px;



}


/* navbar css starts here  */


.my-info{
    padding: 2rem 5rem;
}

.btn-info{
    padding: 1rem 1.2rem;
    color: #fff!important;
    margin-left: 5px;
    padding: 0.75rem;
    transition: all 0.3s;
}

.btn-info:hover{
    background-color:transparent;
    box-shadow: 0 0 4px #66ffff;
    border-radius:3px;

}
h2,h4{   display:none;
}
.user_table:hover{
 color:white;
    box-shadow: 0 0 4px #66ffff;
    border-radius:#66ffff 3px;

}


.user_table{
color:white;
background-color:teal;
}

.get_start {
      color: white;
      text-decoration:none;
      height:100px;
      font-size:25px;
      color:white;

      width:px;
      display:block;
      border-radius:5px;
}

.get_start a{text-decoration:none;
color: white;


}
.get_start a:hover{

    background-color:charcol black;
    box-shadow: 0 0 10px #66ffff;
    border-radius:10px;

}




    /**************************************    MEDIA QUARIES     ************************************************888*/

 @media screen and (max-width:900px){
    .header{
        position:relative;
    }
    .body{
    margin:0px;
    position:relative;
    height:100%;

    }

    .main_body{
    height:100%;
    position: relative;
    }
    /*               HEADER LIST        */
    .header{
     width:0%;
     margin-left:0px;
}
    .header-list ul {
        width: 100%;
        background-color:;
        padding-bottom:2px;
        padding:1px;
        margin:0px;
        padding-left:px;



    }
    .header-list ul {
    color:white;}
    .header-list ul li {
        width: 80%;
        margin:0%;
        font-size:.8em;
    }





     .header-list ul li  a{
        padding:px;

        color:white;

     }

      .header-list ul li a:hover{
background: transparent;

transition:0.5s;
box-shadow: 0 0 5px #66ffff;
border-radius:5px;

}

/*         MENU BUTTON/ICON   */

    .menu-btn{
     display:block;
     right:30px;
     top:6px;
     font-size:1.5em;
     border: px solid red;
     position:absolute;
     color:white;
     }

/*           HEADER LOGO   */

     .header-logo{
     margin-left:0px;
     font-family:"lora","serif";
     font-size:1.3em;
     }
/*  */

.btn-info:hover{
    background-color:transparent;
    box-shadow: 0 0 4px #66ffff;
    border-radius:3px;

}


    /*           FPOOTER                       */
      .footer-{
     height:100%;
      color:white;
       background:black;
     font-size:.7em;
     text-align:center;
     margin-top:0px;
     padding:1px;



    }